.first{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:flex-start;
    margin-top: 12px;
    /* justify-content: center; */
}

.card{
    background-color: rgba(245, 245, 245, 0.306);
    height: auto;
    width: 250px;
    text-align: center;
    margin-left: 12px;
    border-radius: 12px;
    border: 1px solid white;
    color: white; 
    display: flex; 
    flex-direction: column; 
    padding: 12px;
    margin-right: 10px;
    justify-content: center;
}

.card .title{
    font-size: 21px;
}

.card .value{
    font-weight:bold;
    font-size: 45px;
    margin-top: 10px;
}